*.pyc
__pycache__/
*.db
/media/*
*/migrations/*
README.html
output.txt
/TODO.txt
secret.txt
myvenv/
myvenv2/
myvenv3/

/project_conf/secret_key.txt

# OS files
*~
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
