*.pyc
__pycache__/
/README.html
output.txt
doc/*.html

/.env
/TODO.txt
*.db
/media/*
/staticfiles/*
venv/
myvenv/
myvenv2/
myvenv3/
/local_conf/

/project_conf/secret/
secret.txt

# OS files
*~
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
