{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block title_block %}{{PROJECT_NAME}} - Change password{% endblock %}
{% block h1_block %}Change Password{% endblock %}

{% block body_block %}
<p style="color:red">{{cp_error}}</p>
<form method="POST" action="." >
	{% csrf_token %}
	Enter new password:<br />
	<input type="password" name="password1" required="required" />
	<br />
	Retype password:<br />
	<input type="password" name="password2" required="required" />
	<br />
	<button type="submit" >Submit</button>
</form>
{% endblock %}
