{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block title_block %}{{PROJECT_NAME}} - Register{% endblock %}
{% block h1_block %}Create an Account{% endblock %}

{% block body_block %}
<p style="color:red">{{register_error}}</p>
<form method="POST" action="." >
	{% csrf_token %}
	Enter Username:<br />
	<input type="text" name="username" value="{{username}}" required="required" />
	<br />
	Enter Password:<br />
	<input type="password" name="password1" required="required" />
	<br />
	Enter Password Again:<br />
	<input type="password" name="password2" required="required" />
	<br />
	<button type="submit" >Sign Up</button>
</form>
<p><a href="{% url 'accounts:login' %}">Login here</a> if you already have an account</p>
{% endblock %}
