{% extends 'review/question.html' %}

{% block options_block %}
<table>
	<tr>
		<td>Sno.</td>
		<td>Option</td>
		<td>Your choice</td>
		{% if show_correct_answer %}
		<td>Correct choice</td>
		{% endif %}
	</tr>
	{% for option in option_list %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td>{{option.text}}</td>
		<td>
			{% if option.is_chosen %}
				{% if special_question.multicorrect %}
					{{unicode_dict.check_mark|safe}}
				{% else %}
					{{unicode_dict.black_circle|safe}}
				{% endif %}
			{% endif %}
		</td>
		{% if show_correct_answer %}
		<td>
			{% if option.is_correct %}
				{% if special_question.multicorrect %}
					{{unicode_dict.check_mark|safe}}
				{% else %}
					{{unicode_dict.black_circle|safe}}
				{% endif %}
			{% endif %}
		</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
