{% extends 'question_base.html' %}

{% block question_block %}
	<form method="POST" action="{% url 'main:submit' answer.id %}" >
		{% csrf_token %}
		{% block input_block %}{% endblock %}
		<input type="submit" name="submit" value="Submit" /><br />
		{% if nextaid %}
			<input type="submit" name="submit_and_next" value="Submit and next question" />
		{% elif nextsid %}
			<input type="submit" name="submit_and_next" value="Submit and next section" />
		{% else %}
			<input type="button" value="Submit and next question" disabled="true" />
		{% endif %}
	</form>

	{% if remaining_attempts != "" %}
		<p>Remaining attempts = {{remaining_attempts}}</p>
	{% endif %}
	{% if section.allowed_attempts != 0 %}
		<p>Result: {{result_str}}</p>
		<p>Marks obtained: {{marks}}</p>
	{% endif %}

{% endblock %}
