{% extends 'base.html' %}

{% block h1_block %}{{exam.name}}{% endblock %}

{% block body_block %}
	<p>{{exam.info}}</p>
	{% if infinite_time %}
		<p>There is no time limit</p>
	{% else %}
		<p>Time limit: {{exam.time_limit}}</p>
	{% endif %}
	{% if user.is_authenticated %}
		{% if can_attempt %}
			<form method="POST" action="{% url 'main:make_eas' exam.id %}" >
				{% csrf_token %}
				<input type="submit" name="start" value="Start Exam" /><br />
				<input type="submit" name="later" value="Attempt Later" />
			</form>
		{% else %}
			<p>The exam's owner has not allowed you to attempt this exam.</p>
		{% endif %}
		{% if exam.owner == user %}
			<form method="POST" action="{% url 'main:disown_exam' exam.id %}" onsubmit="return confirm('Once you give up ownership of the exam, you cannot get it back. Are you sure you want to do this?');" >
				{% csrf_token %}
				<input type="submit" name="submit" value="Disown Exam" />
			</form>
		{% endif %}
	{% else %}
		<p>You must be <a href="{% url 'accounts:login' %}?next={{request.path}}">logged in</a> to give this test</p>
	{% endif %}
{% endblock %}
