{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}Owliver - Welcome{% endblock %}
{% block h1_block %}Welcome to Owliver{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<p>Logged in as: {{user.username}}</p>
		<p><a href="{% url 'accounts:logout' %}">Logout</a></p>
	{% else %}
		<p>You are not logged in.</p>
		<p><a href="{% url 'accounts:login' %}">Login</a></p>
		<p><a href="{% url 'accounts:register' %}">Register</a></p>
	{% endif %}
	<p><a href="{% url 'main:about' %}">About Owliver</a></p>
	<hr />
	<p><a href="{% url 'main:eas_list' %}">My Exams</a></p>
	<p><a href="{% url 'main:my_exam_list' %}">Exams owned by me</a></p>
	<p><a href="{% url 'main:public_exam_list' %}">Public Exams</a></p>
{% endblock %}
