{% extends 'eas_cover.html' %}

{% block h1_block %}{{section.name}}{% endblock %}

{% block eas_block %}
	<p>
	{% if prevsid %}
		<a href="{% url 'main:sas_cover' prevsid %}">
		Previous Section ({{prevsecname}})
		</a>
	{% else %}
		Previous Section
	{% endif %}
	</p>
	<p>
	{% if nextsid %}
		<a href="{% url 'main:sas_cover' nextsid %}">
		Next Section ({{nextsecname}})
		</a>
	{% else %}
		Next Section
	{% endif %}
	</p>
	<div>{{section.info}}</div>
	Marking Scheme:<br />
	<table>
		<tr>
			<td>Correct answer</td>
			<td>{{section.correct_marks}}</td>
		</tr>
		<tr>
			<td>Wrong answer</td>
			<td>{{section.wrong_marks}}</td>
		</tr>
		<tr>
			<td>Not attempting</td>
			<td>{{section.na_marks}}</td>
		</tr>
		<tr>
			<td>Deduction on viewing hint</td>
			<td>{{section.hint_deduction}}</td>
		</tr>
	</table>

	<p>Number of Questions: {{sas.tot}}</p>
	<p>Maximum marks: {{max_marks}}</p>

	{% if section.max_questions_to_attempt == 0 %}
	<p>Attempt all questions in this section (if you can).</p>
	{% else %}
	<p>You can attempt a maximum of {{section.max_questions_to_attempt}} questions.</p>
	{% endif %}

	{% if section.allowed_attempts <= 0 %}
		<p>You can submit an answer to a question as many times as you want.</p>
		{% if section.allowed_attempts == -1 %}
			You will be shown your attempt status after every submit.
		{% endif %}
	{% else %}
		<p>You can submit an answer a maximum of {{section.allowed_attempts}} times per question.
		You will be shown your attempt status after every submit.
		{% if section.show_correct_answer %}
			You will be shown the correct answer of a question after exhausting all attempts of that question.
		{% endif %}
	{% endif %}

	{% if can_view_solutions %}
		<div>{{section.postinfo}}</div>
	{% endif %}
	{% if timer_status == EAS.TIMER_ENDED %}
		<p>Tags: {% for tag in section.tags.all %}{{tag.name}}, {% endfor %}</p>
	{% endif %}
	<hr />

	<p>Section stats:</p>
	<table>
		{% if show_results %}
		<tr>
			<td>Correct Answers</td>
			<td>{{sas.corr}}</td>
		</tr>
		<tr>
			<td>Wrong Answers</td>
			<td>{{sas.wrong}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>Attempted Questions</td>
			<td>{{sas.att}}</td>
		</tr>
		<tr>
			<td>Unattempted Questions</td>
			<td>{{sas.na}}</td>
		</tr>
		<tr>
			<td>Total Questions</td>
			<td>{{sas.tot}}</td>
		</tr>
		{% if show_results %}
		<tr>
			<td>Total Marks</td>
			<td>{{sas.marks}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>Percentage</td>
			<td>{{sas.perc}}</td>
		</tr>
	</table>
	<p>Questions in this section:</p>
	<table>
		<tr>
			<td>Sno</td>
			<td>Question</td>
			<td>Status</td>
			{% if hint_col %}<td>Viewed hint</td>{% endif %}
			<td>Marks</td>
		</tr>
		{% for answer in answer_list %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>
				<a href="{% url 'main:answer' answer.id %}">
				{{answer.get_typed_question}}
				</a>
			</td>
			<td>{{answer.result_str}}</td>
			{% if hint_col %}
				<td>{% if answer.viewed_hint %}{{unicode_dict.check_box|safe}}{% endif %}</td>
			{% endif %}
			<td>{{answer.marks}}</td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>Total</td>
			<td></td>
			{% if hint_col %}
				<td>{{sas.hints}}</td>
			{% endif %}
			<td>{{sas.marks}}</td>
		</tr>
	</table>
{% endblock %}
